<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youvegotmail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Type something here to test commit -->
        <!-- is this the correct parent activity?
        <activity
            android:name=".SendConfirm"
            android:label = "Send and Confirm"
            android:parentActivityName=".MainActivity">
        </activity>
        -->

        <!-- is this the correct parent activity?
        <activity android:name=".MailType"
            android:label = "Mail Type"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         -->


        <activity android:name=".RegisteredBoxes"
            android:label = "@string/registered_boxes"
            android:parentActivityName=".ManualInput"
            ></activity>


        <activity
            android:name=".ManualInput"
            android:label="@string/title_activity_manual_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Scan"
            android:label="@string/title_activity_scan_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.youvegotmail.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"
            android:parentActivityName=".RegisteredBoxes"/>
    </application>

</manifest>